 :root{
  --main-color-headers: #212121;
  --main-text-color:  #757575;
  --white-color: #FFFFFF;
  --team-filter-btn-bg: #F5F4FA; 
  --color-button-logo: #2196F3;
  --hero-footer-background: #2F303A; 
  --footer-phone-mail: rgba(255, 255, 255, 0.6);
  --color-studio: #0000;
      }       
  
 .html {
      box-sizing: border-box;
 }
 *,*::before,*::after{
      box-sizing: inherit;
 }
 *{
      margin: 0;
      padding: 0;
      list-style: none;
 }
 .conteiner{  
      box-sizing: border-box;
      /* display: flexbox;     */
      width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
       outline: 2px solid tomato ; 
 }
   
  /* свойства body */
 body { 
      
      font-family: Roboto;
      font-style: normal;
      background-color: var(--white-color);
      color: var(--main-text-color);
      }    
       /* свойства для все ссылок */
 .link{
      color:inherit;
      text-decoration: none;            
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em;
      color: var(--main-color-headers);
 }
 
 
  .sait-nav .conteiner{
      display: flex;
      align-items: center; 
      justify-content: space-between; 
     
      
 }
  
  .sait-link{
       display: flex; 
       justify-content: space-between; 
      width: 294px;
      padding-top: 32px;
      padding-bottom: 32px;
      
 }
 .sait-contacts{
       display: flex; 
      justify-content: space-between; 
      width: 307px;
      margin-left: 331px;
      padding-top: 32px;
      padding-bottom: 32px;

 
 }
 .sait-contacts .mail{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em; 
      color: var(--main-text-color);
      

 }
 .sait-contacts .phone{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em; 
      color: var(--main-text-color);
      
 }
 .active {
      color: var(--color-button-logo);
 }      
 .link:hover, 
 .link:focus{
     color: var(--color-button-logo);
 }       
       /* Logo */ 
 .logo{
      font-family: Raleway;
      font-weight: bold;
      font-size: 26px;
      line-height: 1.192;
      color: var(--main-color-headers);
      text-decoration: none;
      color: var(color-studio);
      padding-top: 24px;
      padding-bottom: 25px;
      }
 .logo-web{
      color: var(--color-button-logo);
      } 
      /* Hero */
  
 .hero .conteiner{
      display: flex;
      justify-content: center;
      background-color: var(--hero-footer-background);
      padding-bottom: 200px;
      padding-top: 200px;   
      
      }

 .hero .title{  
      font-weight: 900;
      font-size: 44px;
      line-height: 1.363;
      width: 696px;
      /* justify-content: space-between; */
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--white-color);
      margin-bottom: 40px;                  
 }
      /* кнопка Заказать услугу */
 .button{
      /* font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.875;
      padding: 10px 32px;      	      
      background: var(--color-button-logo); 
      color: var(--white-color);
       display: flex;  
      align-items: center; 
      text-align: center; 
      position: absolute; 
      width: 200px;
      height: 30px;
      left: 732px;
       top: 440px; 
      border-radius: 4px;     
      border: none;
 /* }
 .button:hover,
 .button:focus{ */
      /* color: var(--white-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      } */ 
       position: absolute; 
      width: 200px;
      height: 50px;
      left: 700px;
      top: 430px;
      
      justify-content: center;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.875;
      padding: 10px 32px; 
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
      background: var(--color-button-logo); 
      color: var(--white-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: none;
     }
     

 
            
 
 .feature{
      padding-top: 94px;
 }
 .feature .content{
     display: flex; 
     justify-content: space-between;
 }
 .columns li:not(:last-child){
      margin-right: 30px;
 }
  .feature ul{
      display: flex;      
 }
         /* Особенности*/ 
 .feature-title{
      font-weight: bold;
      font-size: 14px;
      line-height: 1.172;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--main-color-headers);
      }
 .feature-text{
      width: 270px;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.714; 
      letter-spacing: 0.03em;   
      }
      /* Чем занимаемся */
.work {
      padding-top: 94px;
 } 
  .box-img{
     display: flex;
     justify-content: space-between;} 

 .work{
       background: var(--feature-portfolio-work-bg);
      
 }
 .team{
      padding-top: 94px;
      padding-bottom: 94px;
 }
 .list-item{
      display: flex;
      justify-content: space-between;
 }
 .title{
      font-weight: bold;
      font-size: 36px;
      line-height: 1.167;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--main-color-headers);
      margin-bottom: 50px;
      }
       /* Команда */
 .team{
      background: var(--team-filter-btn-bg);
 }
 .team-member{
      font-weight: 500;
      font-size: 16px;
      line-height: 1.188;       
      letter-spacing: 0.03em;    
      color: var(--main-color-headers);
      text-align: center;
      margin-top: 30px;
 }
 .team-text{
      font-weight: normal;
      font-size: 16px;
      line-height: 1.187;
      letter-spacing: 0.03em;
      text-align: center;
      padding-bottom: 30px;
      margin-top: 10px;
      
 }
      /* Контакты */
       
 .footer{
       
      background: var(--hero-footer-background);     
 }
 .footer .logo{
      display: inline-block;
      padding-top: 60px;
      padding-bottom: 20px;
      color: var(--white-color);
  }
  
    
 .footer .mail{
      display: inline-block;
      padding-top: 9px;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color:  var(--footer-phone-mail);
 }
 .footer .phone{
      display: inline-block;
      padding-top: 9px;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color:  var(--footer-phone-mail);
 }
 .contacts {  
      font-weight: normal;
      font-size: 14px;
      line-height: 1.714;     
      letter-spacing: 0.03em; 
      color: var(--white-color); 
      margin-top: 20px;
 }
 .footer .link:hover,
 .footer .link:focus{
      color: var(--color-button-logo);
 }
  /* Выбор проектов */
  .filter .active{
      
      background: var(--color-button-logo);
      color: var(--white-color);
      width: 73px;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;     
  }  
  .btn{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.625;
      text-align: center;
      letter-spacing: 0.03em;
      background: var(--team-filter-btn-bg);
      color: var(--main-color-headers); 
      padding: 6px 22px;
      cursor: pointer;  
      margin-right: 8px;  
      margin-bottom: 50px; 
  }
  /* Проекты */ 
  .portfolio {
       padding-top: 94px;
       padding-bottom: 94px;
  }
  .portfolio .filter {
       display: flex;
       justify-content: center;                       
  }
  .project {
      display: inline-flex;
      flex-wrap: wrap;
     justify-content: space-between;     
 }  
  
 .portfolio-item{
      font-weight: bold;
      font-size: 18px;
      line-height: 2.000;
      letter-spacing: 0.06em;
      color: var(--main-color-headers);
 }
 .portfolio-text{
      font-weight: normal;
      font-size: 16px;
      line-height: 1.875;      
      letter-spacing: 0.03em;
      color: var(--main-text-color);
 }
  
 