 :root{
  --main-color-headers: #212121;
  --main-text-color:  #757575;
  --white-color: #FFFFFF;
  --team-filter-btn-bg: #F5F4FA; 
  --color-button-logo: #2196F3;
  --hero-footer-background: #2F303A; 
  --footer-phone-mail: rgba(255, 255, 255, 0.6);
  --color-studio: #0000;

      }      
 *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      list-style: none;
 }
  /* свойства body */
 body {
      font-family: Roboto;
      font-style: normal;
      background-color: var(--white-color);
      color: var(--main-text-color);
      }    
       /* свойства для все ссылок */
 .link{
      color:inherit;
      text-decoration: none;
      font-style: normal;          
      }
      /* свойства ссылок sait-nav */
 .sait-nav .link{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em;
      color: var(--main-color-headers);
 }
 .sait-contacts .mail{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em;
 }
 .sait-contacts .phone{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em;
 }
 .sait-nav .active {
      color: var(--color-button-logo);
 }      
 .link:hover, 
 .link:focus{
     color: var(--color-button-logo);
 }       
       /* Logo */ 
 .logo{
      font-family: Raleway;
      font-weight: bold;
      font-size: 26px;
      line-height: 1.192;
      color: var(--main-color-headers);
      text-decoration: none;
      color: var(color-studio);
      }
 .logo-web{
      color: var(--color-button-logo);
      } 
      /* Hero */
 .hero{
      background-color: var(--hero-footer-background);
      }
 .hero .title{  
      font-weight: 900;
      font-size: 44px;
      line-height: 1.363;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--white-color);
      }
      /* кнопка Заказать услугу */
 .button{
      font-weight: bold;
      font-size: 16px;
      line-height: 1.875;
      padding: 10px 32px;
      margin: auto; 
      background: var(--color-button-logo);
      color: var(--white-color);
      display: flex;    
      width: 200px;
      height: 50px;
      left: 700px;
      top: 430px;  
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;     
      border: none; 
      }
 .button:hover,
 .button:focus{
      color: var(--white-color);
      }
      /* Особенности*/ 
 .feature-title{
      font-weight: bold;
      font-size: 14px;
      line-height: 1.172;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--main-color-headers);
      }
 .feature-text{
      font-weight: normal;
      font-size: 14px;
      line-height: 1.714; 
      letter-spacing: 0.03em;   
      }
      /* Чем занимаемся */
 .work{
       background: var(--feature-portfolio-work-bg);
 }
 .title{
      font-weight: bold;
      font-size: 36px;
      line-height: 1.167;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--main-color-headers);
      }
       /* Команда */
 .team{
      background: var(--team-filter-btn-bg);
 }
 .team-member{
      font-weight: 500;
      font-size: 16px;
      line-height: 1.188;       
      letter-spacing: 0.03em;    
      color: var(--main-color-headers);
      }
 .team-text{
      font-weight: normal;
      font-size: 16px;
      line-height: 1.187;
      letter-spacing: 0.03em;    
      }
      /* Контакты */
 .footer{
      font-weight: normal;
      font-size: 14px;
      line-height: 1.714;     
      letter-spacing: 0.03em; 
      background: var(--hero-footer-background);     
 }
 .footer .logo{
      color: var(--white-color);
 }
 .footer .mail{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color:  var(--footer-phone-mail);
 }
 .footer .phone{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color:  var(--footer-phone-mail);
 }
 .contacts{  
      color: var(--white-color); 
 }
 .footer .link:hover,
 .footer .link:focus{
      color: var(--color-button-logo);
 }
  /* Выбор проектов */
  .filter .active{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.625;
      text-align: center;
      letter-spacing: 0.03em;
      background: var(--color-button-logo);
      color: var(--white-color);
      cursor: pointer;
  }
  .btn{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.625;
      text-align: center;
      letter-spacing: 0.03em;
      background: var(--team-filter-btn-bg);
      color: var(--main-color-headers);
      cursor: pointer;     
  }
  /* Проекты */ 
 .portfolio-item{
      font-weight: bold;
      font-size: 18px;
      line-height: 2.000;
      letter-spacing: 0.06em;
      color: var(--main-color-headers);
 }
 .portfolio-text{
      font-weight: normal;
      font-size: 16px;
      line-height: 1.875;      
      letter-spacing: 0.03em;
      color: var(--main-text-color);
 }
  
 